**/nohup.out
**/.git/
.xsession-errors
.xsession-errors.old
Documents/
Downloads/
Pictures/
Unity/
temp/
.vscode-oss/
.ssh/
.mozilla/
.local/
.gnupg/
.cargo/
.cache/
.pki/
.config/BraveSoftware
.config/Code\ -\ OSS
.config/conky
.config/dconf
.config/Electron
.config/discord
.config/Electron
.config/mopidy
.config/pulse
.config/spotify
.config/yadm
.config/Caprine
.config/spicetify/Backup
.config/spicetify/CustomApps
.config/spicetify/Extensions
.config/spicetify/Extracted
.config/firefox/Firefox-Mod
.config/GIMP
.config/xarchiver
.config/UnityHub
.config/unity3d
.git-credentials
.gitconfig
.bash_history