[Desktop Entry]
Type=Application
Version=1.0
Name=browserx
Comment=browserxstartup script
Exec=/usr/lib/station/browserx
StartupNotify=false
Terminal=false